.HoangTam3 
{
    font-family: 'Playfair Display', serif;
    width: 500px;
    background-color: red;
    color: white;
    font-size: 20px;
    margin: auto;
}

#Net104
{   
    
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    width: 500px;
    color: aqua;
    background-color: black;
    font-size: 20px;
}